# Database Configuration
DATABASE_URL=
DIRECT_URL=

# Email Service (Brevo)
BREVO_API_KEY=
SENDER_EMAIL=

# Media Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

# Cache Service (Upstash Redis)
REDIS_URL=

# AI Model Key
GEMINI_API_KEY=
